<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class="container">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2>{{ posts[postId - 1].question }}</h2>
                            <h5>Asked by: {{ posts[postId - 1].author}} </h5>
                            <p>{{ posts[postId - 1].date }} , {{ posts[postId - 1].time }}</p>
                            <div *ngFor="let answer of answers">
                                <p> {{answer}}</p>
                            </div>
                            <a (click)="goBack()" class="btn btn-info">Go Back</a>
                            &nbsp;&nbsp;&nbsp;
                            <a (click)="onReply()" class="btn btn-default">Reply </a>
                            &nbsp;&nbsp;&nbsp;
                            <a (click)="goBack()" class="btn btn-danger">Close</a>
                        </div>
                        <div *ngIf="!isShow">
                            <label for="lname">Type your ANSWER here: </label>
                            <br>
                            <textarea type="text" id="ans" name="ans" class="card card-body" rows="12" cols="20"></textarea>
                            <br>
                            <button type="submit" value="Submit" class="btn btn-sucess">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


